*{
	margin: 0;
	padding: 0;
}

.artigo{
	width: 1280px;
	padding: 40px;
	background-color: rgb(100,100,100);
	height: 40px auto;
	text-align: center;
}

.artigo h1{
	color:  rgb( 66, 149, 244);
	font-size: 23px;
	font-family: tahoma;
	font-style: normal;
	font-weight: normal;
}

.artigo p{
	color: #b4b4b4;
	text-align: left; 
	font-size: 17px;
	font-family: tahoma;
	font-style: normal;
	font-weight: bold;
	line-height: 40px;
	margin-top: 15px;
}